Host login-gpu.hpc.cam.ac.uk
  HostName login-gpu.hpc.cam.ac.uk
  User as3159

Host gate.eng.cam.ac.uk
  HostName gate.eng.cam.ac.uk
  User as3159

Host mlsalt-cpu3
  HostName mlsalt-cpu3
  ProxyJump gate.eng.cam.ac.uk
  User as3159

Host mlsalt-cpu2
  HostName mlsalt-cpu2
  ProxyJump gate.eng.cam.ac.uk
  User as3159

Host mlsalt-cpu1
  HostName mlsalt-cpu1
  ProxyJump gate.eng.cam.ac.uk
  User as3159

Host mlsalt-term5
  HostName mlsalt-term5
  ProxyJump gate.eng.cam.ac.uk
  User as3159

Host mlsalt-term6
  HostName mlsalt-term6
  ProxyJump gate.eng.cam.ac.uk
  User as3159
